@import 'Partials/_algining.scss';
@import 'Partials/_media_queries.scss';


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --body-bg-color: rgb(0, 135, 180);
    --nav-height: 45px;
    --left-part-height: 30%;
    --body-gap: 16px;
    --footer-height: 300px;
    --scale: .96;
}


.stories-slider{
    background: var(--nav-bg-color);
    width: 100%;
    height: 100%;

    .top-story{
        --story-padding: 15px;
        --tag-margin: 15px;
        --title-bottom: 7%;
        --wrapper-index: 10;

        position: relative;
        width: 100%;
        height: 100%;

        .image{
            position: absolute;
            width: 100%;
            height: 100%;

            .image-link{
                width: 100%;
                height: 100%;

                img{
                    width: inherit;
                    height: 100%;
                    object-fit: initial;
                }
            }
        }
        .title{
            position: absolute;
            font-size: 1.7rem;
            bottom: var(--title-bottom);
            padding: 2px var(--story-padding);
            z-index: calc(var(--wrapper-index) + 1);

            .title-link{
                font-size: 1em;
                color: rgb(255, 255, 255);
                font-weight: 550;
                text-decoration: none;
                line-height: 1.4;
                letter-spacing: .8;

                @include NineHundred{
                    font-size: .85em;
                }
            }
        }
        .description{
            position: absolute;
            bottom: 0%;
            width: 100%;
            height: var(--title-bottom);
            padding: 2px calc(var(--story-padding) + var(--tag-margin));
            @include flexDisplayJustify(start, 20px);
            z-index: calc(var(--wrapper-index) + 1);

            .tag{
                font-size: 1rem;
                font-weight: 550;
                color: white;
                letter-spacing: .8;

                a{
                    font-size: 1em;
                    text-decoration: none;
                    color: white;
                }

                @include SevenHundred{
                    font-size: .8rem;
                }

                &::before{
                    content: '';
                    position: fixed;
                    height: 20px;
                    width: 3px;
                    margin: 0 calc(var(--tag-margin) * -1);
                    background: white;

                    @include SevenHundred{
                        height: 15px;
                    }
                }
            }
            .author{
                font-size: 1rem;
                font-weight: 550;
                color: white;
                letter-spacing: .8;

                a{
                    font-size: 1em;
                    text-decoration: none;
                    color: white;
                }

                @include SevenHundred{
                    font-size: .8rem;
                }
            }
        }

        .date{
            position: absolute;
            right: 0;
            padding: 10px var(--story-padding);
            width: 135px;
            display: flex;
            justify-content: space-between;
            z-index: calc(var(--wrapper-index) + 1);

            i{
                color: white;
                font-weight: 550;
            }
            span{
                color: white;
                font-weight: 550;
                font-size: .9rem;
            }
        }
    }
}

































.stories-grid{
    height: 95%;
    width: 100%;
    grid-column: span 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: var(--body-gap);

    @include FiveHundred{
        display: none;
    }

    .story{
        --story-padding: 15px;
        --tag-margin: 7px;
        --title-bottom: 15%;
        --wrapper-index: 10;

        position: relative;
        width: 100%;
        height: 100%;


        .image{
            position: absolute;
            width: 100%;
            height: 100%;

            .image-link{
                width: 100%;
                height: 100%;

                img{
                    width: inherit;
                    height: 100%;
                    object-fit: initial;
                }
            }
        }
        .title{
            position: absolute;
            font-size: 1.1rem;
            bottom: var(--title-bottom);
            padding: 2px var(--story-padding);
            z-index: calc(var(--wrapper-index) + 1);

            .title-link{
                font-size: 1em;
                color: rgb(255, 255, 255);
                font-weight: 550;
                text-decoration: none;
                line-height: 1.1;
                letter-spacing: .8;

                @include NineHundred{
                    font-size: .8em;
                }
            }
        }
        .description{
            position: absolute;
            bottom: 0%;
            width: 100%;
            height: var(--title-bottom);
            padding: 2px calc(var(--story-padding) + var(--tag-margin));
            @include flexDisplayJustify(start, 20px);
            z-index: calc(var(--wrapper-index) + 1);

            .tag{
                font-size: .8rem;
                font-weight: 550;
                color: white;
                letter-spacing: 1;

                a{
                    font-size: 1em;
                    text-decoration: none;
                    color: white;
                }

                @include NineHundred{
                    font-size: .7rem;
                }

                &::before{
                    content: '';
                    position: fixed;
                    height: 15px;
                    width: 2px;
                    margin: 0 calc(var(--tag-margin) * -1);
                    background: white;

                    @include NineHundred{
                        height: 12px;
                    }
                }
            }
            .author{
                font-size: .8rem;
                font-weight: 550;
                color: white;
                letter-spacing: 1;

                a{
                    font-size: 1em;
                    text-decoration: none;
                    color: white;
                }

                @include NineHundred{
                    font-size: .7rem;
                }
            }
        }

        .date{
            position: absolute;
            right: 0;
            padding: 10px var(--story-padding);
            width: 110px;
            display: flex;
            justify-content: space-between;
            z-index: calc(var(--wrapper-index) + 1);

            i{
                color: white;
                font-weight: 550;
            }
            span{
                color: white;
                font-size: .8rem;
                font-weight: 550;
            }
        }
    }
}


img{
    width: 100%;
    height: 60px;
}


// wrapper

.wrapper{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top, 
        hsla(0, 0%, 0%, 0.90),
        hsla(0, 0%, 0%, 0.70),
        hsla(0, 0%, 0%, 0.50),
        hsla(0, 0%, 0%, 0.30),
        hsla(0, 0%, 0%, 0.10)
        );
    color: white;
    z-index: var(--wrapper-index);

    &:hover{
        background: linear-gradient(
        to top, 
        hsla(0, 0%, 0%, 0.95),
        hsla(0, 0%, 0%, 0.75),
        hsla(0, 0%, 0%, 0.55),
        hsla(0, 0%, 0%, 0.35),
        hsla(0, 0%, 0%, 0.15),
        );
        transform: 3s;
    }
}



.date-container{
    height: 40px;
    transform: scale(var(--scale));
    @include flexDisplayJustify(start, 10px);

    .tag{
        padding: 0px 10px;
        height: 100%;
        border: 1px solid black;
        @include flexDisplayJustify(start);
        color: black;
        position: relative;

    }
    .date{
        padding: 0px 10px;
        height: 100%;
        width: 180px;
        border: 1px solid black;
        @include flexDisplayJustify(start);
        color: black;
    }
}