@import "./../css/Partials/algining.scss";
@import "./../css/Partials/media_queries.scss";


body, html{
    height: 100vh;
    background: rgb(230, 209, 209);
    display: grid;
    overflow: hidden;
}

.nav-bar{
    width: 100vw;
    height: 50px;
    background: var(--body-bg-color);
    color: white;
    @include flexDisplayJustify(space-around);

    & > div{
        flex: 1 1 100%;
        @include flexDisplayJustify(center);
    }

    .right-part{
        .logout{
            height: 35px;
            display: flex;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                height: 100%;
                text-decoration: none;
                color: rgb(0, 0, 0);
                border: 1px solid white;
                padding: 4px 10px;
                background: white;
                border-radius: 5px;
            }
        }
    }
}

.body-container{
    height: calc(100vh - 50px);
    background: black;

    .body-nav{
        width: 90%;
        height: 40px;
        background: var(--body-bg-color);
       @include flexDisplayJustify(center);
        gap: 20px;
        margin: 10px auto;
        border-radius: 5px;
        flex-wrap: wrap;
        height: auto;


        @include EightHundred{
            gap: 10px;
        }

        @include EightHundred{
            width: 95%;
        }

        .separator{
            color: white;
        }

        div > a{
            @include flexDisplayJustify(center);
            height: 100%;
            text-decoration: none;
            color: white;
            height: 40px;

            @include EightHundred{
                font-size: 14px;
            }
        }
    }

    .body-contents{
        width: 90%;
        margin: 50px auto;
        height: 476px;
        border-radius: 5px;
    }
}